<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Sales Order Weight</h2>
        </div>
        <p class='oe_mt32'>
This module from BroadTech IT Solutions manages to calculate total weight of a sale order, which is the sum of individual weights of each unit of the products in the order. 
	</p>
	<p class='oe_mt32'>
The product form has a field 'Weight', which stores the weight of the product in Kg. 
	</p>
		 <div class="oe_span11">
        <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="sale_weight_product.png">
        </div>
        </div>
        
	<p class='oe_span12 oe_mt32'>
	The module adds a field 'Net Weight' in sale order line, which calculates the Order line weight based on Order line Quantity and Unit of Measure. The new field 'Total Weight' in Sale Order would be the sum of sale order line weights.
	</p>
	
	<div class="oe_span11">
	    <div class="oe_row_img oe_centered">
	        <img class="oe_picture oe_screenshot" src="sale_weight.png">
	    </div>
	</div>

	<p class='oe_span12 oe_mt32'>
The calculation uses the following formula:
</p>
<p class='oe_mt32'>
Sale_order_line_net_weight = (line_product_weight * line_product_uom_qty / line_product_uom_factor)
<br/>
Total_weight = sum(Sale_order_line_net_weight)
	</p>
<br/>
    <p class='oe_mt32 oe_spaced'>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        
	
    </div>
</section>
